$font-family: "Roboto", sans-serif;
$primary-color: #182c61;
$secondary-color: #44bd32;
$hover-color: #4cd137;
$background-color: #f5f6fa;
$max-width: 1024px;
$padding: 16px;
$margin-top: 40px;
$border-radius: 16px;
$header-padding: 56px 0;
